_build/
deps/
.elixir_ls/

.git/
.gitignore
.github/

.env
.env.*
!.env.example

scraper/
docker-compose.yml
Dockerfile
.dockerignore

README.md
test/

*.swp
*~
.DS_Store

node_modules/
scraper/node_modules/
