SCRAPER_PORT=3000

TZ=Asia/Jakarta

APP_IMAGE=kurniawan026/maps_validator:latest
SCRAPER_IMAGE=kurniawan026/maps_scraper_sidecar:latest

N8N_IMAGE=docker.n8n.io/n8nio/n8n:latest
N8N_PORT=5678
N8N_HOST=localhost

N8N_ENCRYPTION_KEY=

N8N_SECURE_COOKIE=false

APP_BIND=127.0.0.1
APP_PORT=4000

DETAIL_CONCURRENCY=3

DETAIL_BUDGET_MS=60000

MAX_CONCURRENT_SCRAPES=4

SHUTDOWN_GRACE_MS=10000

BROWSER_IDLE_TIMEOUT_MS=300000

BROWSER_MAX_CONTEXTS=200

PLAYWRIGHT_WS_ENDPOINT=
PLAYWRIGHT_CDP_ENDPOINT=

SCRAPER_URL=http://localhost:3000

SCRAPER_TIMEOUT_MS=45000

INSTAGRAM_TIMEOUT_MS=45000
TIKTOK_TIMEOUT_MS=45000

WEBSITE_TIMEOUT_MS=45000

MARKETPLACE_TIMEOUT_MS=45000

SUBJECT_MAX_CONCURRENCY=4

VALIDATION_CONCURRENCY=3

VALIDATION_MAX_ATTEMPTS=3

VALIDATION_BACKOFF_MS=1000
VALIDATION_MAX_BACKOFF_MS=30000

VALIDATION_MAX_BATCH=500

VALIDATION_JOB_TTL_MS=86400000

VALIDATION_CLEANUP_CRON=0 20 * * *

VALIDATION_MAX_JOBS=1000

VALIDATION_MAX_CANDIDATES=5

VALIDATION_MATCH_THRESHOLD=0.8
VALIDATION_REVIEW_THRESHOLD=0.3

VALIDATION_AMBIGUITY_MARGIN=0.1
